

#selectfilediv{
    display: flex;
    min-height: 19%;
    min-width: 98%;
}
.wrapper{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
.informatics{
    display:flex;
    min-height: 4%;
    min-width: 100%;;
}
.box{
    background-color: #1e2e61;
    text-align: center;
    max-height: 25%;
    min-width: 20%;
    word-wrap: break-word;


}


.box-info{
    text-align: center;
    color:white;
    font-size: large;
    vertical-align: middle;
    line-height: 4%;
    word-wrap: break-word;

}
.box-info-coming{
    text-align: center;
    color:gray;
    font-size: large;
    vertical-align: middle;
    line-height: 4%;
    word-wrap: break-word;

}

#noticetouser{
    background-color: lawngreen;
    width:80%;
}

#donatediv{
    display:flex;
}
.donatebox{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 20%;
    word-wrap: break-word;
}

.carddiv{
    color:white;
    width: 12%;
}
#midnightbluediv{
    background-color: #1587b7;
}
#rubydiv{
    background-color: #c4314c;
}
#jaderoyaldiv{
    background-color: #3c9e46;
}
#frostedicydiv{
    background-color: #bba0a1;
}
#obsidiandiv{
    background-color: #2b3135;
}
#cardselectiondiv{
    display:flex;
    height: 6%;
}

@media all and (max-width: 970px) {
    
    .box-info{
        font-size: 0.4em;

    }
    p {
        font-size: 0.6em;
    }
    .cardlabel{
        font-size: 0.5em;
    }
    .box-info-coming{
        font-size: 0.6em;
    }
    h2{
        font-size: 1em;
    }
    .cro_cashback_calculator_address{
        font-size: 0.4em;
    }
  
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    visibility: hidden;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }